build/
packages
pubspec.lock
.idea/
docs/
dartdoc-viewer/
.project
.settings
.buildlog
.pub
out/
*.iml
.packages
.dart_tool/
.vscode/
.lib/dial.dart
.lib/media.dart
.lib/router.dart
.lib/server.dart
.lib/upnp.dart
.lib/src/action.dart
.lib/src/device.dart
.lib/src/discovery.dart
.lib/src/helpers.dart
.lib/src/service.dart
.lib/src/sub_manager.dart
.lib/src/utils.dart
.lib/src/dial/screen.dart
.lib/src/media/sources.dart
.lib/src/router/router.dart
.lib/src/server/action.dart
.lib/src/server/device.dart
.lib/src/server/discovery.dart
.lib/src/server/server.dart
.lib/src/server/service.dart
.lib/src/server/utils.dart
